.link-div i {
  width: 0.861111rem;
  height: 0.861111rem;
  display: inline-block;
}

.content .link-div i {
  margin: 0 auto;
  display: block;
}

.link-a-text {
  text-align: center;
  margin-left: 0;
  margin-top: 0.194444rem;
}

.lists-links {
  padding: 0.208333rem 0;
  margin-top: 0;
  overflow: hidden;
}

.lists-links>div,
.lists-links,
.consultants {
  background: none!important;
}

.lists-links .link-div  img {
  width: 0.833333rem;
  height: 0.833333rem;
}

.lists-links .link-a-text {
  text-align: left;
  margin-left: 0.208333rem;
  margin-top: 0;
  color: #666;
}

.consultants.content_xh {
  background: #fff!important;
}

.content_xh .link-aa {
  width: 2.388889rem!important;
}

.content_xh .link-a p {
  font-size: 0.361111rem;
  color: #3485e9;
  line-height: 0.555556rem;
}

.link-as {
  color: #666;
  font-size: 0.333333rem;
  padding-left: 0.277778rem;
  line-height: 0.555556rem;
}

.link-as i {
  display: inline-block!important;
  width: 0.305556rem;
  height: 0.305556rem;
  background: url(../images/riben/x.png) no-repeat;
  position: relative;
  top: 0.111111rem;
}

.txt {
  padding: 0.347222rem 0.416667rem 0.486111rem 0.416667rem;
  border-bottom: 0.013889rem solid #e4e4e4;
}

.txt p {
  line-height: 0.555556rem;
  font-size: 0.361111rem;
  color: #888;
}

p.yellow {
  color: #ffa800;
}

.txt:last-child {
  border: none;
}