.item{
    height:78px;
    margin-top:45px;
}
.top .item:first-of-type{
    margin-top:0;
}
.top .content{
    padding:45px 0;
}
.icon{
    vertical-align: middle;
}
.top-bk{
    display:inline-block;
    width:545px;
    height:66px;
    padding-left:25px;
    margin-left:14px;
    background:url("../images/keyan/pic1.png") center center no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    vertical-align: middle;
    line-height:66px;
}
.keyan-icon-text img{
    width:42px ;
    height:43px;
}
.keyan-icon-text .link-a-text {
    margin-left: 21px;
}